p {
    color: #ffffff;
}

.starter-template {
  padding:40px 15px;
  text-align:center;
}

.table > tbody > tr > td {
  text-align: left;
}

.error {
  color: #ff0000;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.glyphicon {
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-family:"Glyphicons Halflings";
  font-style:normal;
  font-weight:normal;
  line-height:1;
  position:relative;
  top:1px;
  text-decoration: none;
  color: #ffffff;
}