<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Ask Mate - answer question</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css?v={{ range(1, 51) | random }}">

        <!-- Own main css -->
        <link rel="stylesheet" href="/static/css/main.css?v={{ range(1, 51) | random }}">

        <!-- Latest compiled and minified JavaScript -->
        <script src="/static/js/bootstrap.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="row" style="width:80%; margin:0 auto; margin-top: 20px; margin-bottom: 20px;">
            <h2> {{ question[4] }} </h2>
            <p> {{ question[5] }} </p>
            <form method="GET" action="/update/{{ question_id }}">
                            <button type="submit" name="update-question" class="btn btn-success">Update</button>
                            <a href="/index" class="btn btn-success">Back</a>
                            </form>
        <div class="row" style=" margin:0 auto; margin-top: 20px; margin-bottom: 20px;">
            <form method="POST" action="/submit-answer/{{ question_id }}">
                <div class="form-group">
                    <label>Answer</label>
                    <textarea class="form-control" rows="3" name="answer" required></textarea>
                </div>
                <button type="submit" name="create" value="Create" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Votes
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                        </th>
                        <th>Date
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                        </th>
                    <tr>
                </thead>
                <tbody>
                    {% for value in answers %}
                    <tr>
                        <td><blockquote>{{ value[4] }}</blockquote></td>
                        <td style="min-width: 100px;">{{ value[2] }}
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="color:green;"/>
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="color:red;"/>
                        </td>
                        <td style="min-width: 100px;">{{ value[1] }}</td>
                    </tr>
                    {% endfor %}
    </tbody>
</table>
        </div>
        </div>
    </div>
    </body>
</html>
    